<h1 class="text-center page-heading">List of all the Articles</h1>


<%= render "articles", obj: @articles %>

<div class="apple_pagination mb-0">
    <%= will_paginate @articles, :container => false %>
</div>
