<div class="container" id="home-container">
  <div class="jumbotron p-5 mb-4 bg-body-tertiary rounded-3 text-center">
    <div class="container-fluid py-5">
      <h1 id="home-container-heading" class="display-5 fw-bold">Alpha Blog</h1>
      <p class="col-md-8 fs-4" id="home-container-para">
        Using a series of utilities, you can create this jumbotron, just like
        the one in previous versions of Bootstrap. Check out the examples below
        for how you can remix and restyle it to your liking.
      </p>
      <%= link_to "Sign Up", signup_path, class: "btn btn-success btn-lg" %>
    </div>
  </div>
</div>

